.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.footer > a {
    display: inline-block;
    margin: 0 10px; 
}

.footer > a > img {
    width: 40px;
    vertical-align: middle; 
    margin-bottom: 20px;
}
