body{
    background-color: #1d1f23;
}

.app{
    width: 240px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    flex-direction: column;
    background-color: #181a1e;
    border-radius: 5px;
}

.foot{
    background-color: #111114;
    border-radius: 5px;
}